*{
    margin: 0;
    padding: 0;
}
.wrapper{
    height:1000px;
    width:100%;
    background-image: url('./img/bg.jpg');
    background-size: 100% 100%;
    position: fixed;
    left:0;
    top:0;
}
.btn{
    width:100px;
    height:40px;
    position: absolute;
    top:100px;
    cursor: pointer;
    background: orangered;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255,255,255,0.7);
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.easy {
    left: 100px;
}
.difficult {
    left: 250px;
}

.box{
    width:500px;
    height:500px;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    /* transform: perspective(800px) rotateX(45deg); */
    margin: 200px auto;
    display: none;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);

}
.flagBox{
    font-family: arial;
    font-size: 20px;
    font-weight : bold;
    color:#fff;
    margin: 50px auto;
    position: absolute;
    top:50px;
    text-align: center;
    width:100%;
    display: none;
}
.alertBox{
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    left:0;
    top:-100px;
    background-color: rgba(0,0,0,0.2);
}
.alertImg{
    width:1000px;
    height:600px;
    background-size: 100% 100%;
    position: absolute;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    margin: auto;
    border-radius: 25px;
    border: 2px solid #fff;
}
.close{
    position: absolute;
    right:0;
    top:0;
    height:40px;
    width:40px;
    background-image: url('./img/guanbi.png');
    background-size: 100% 100%;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #fff;
}
.block{
    width:49px;
    height:49px;
    border-right:1px solid #fff;
    border-bottom:1px solid #fff;
    box-shadow: 0 0 4px #333 inset;
    background-image: url('./img/caodi.jpg');
    float: left;
}
.show{
    background-image: url('./img/dilei.png');
    background-size: 100% 100%;
}
.num{
    background: #ECD0A1;
    font-size: 18px;
    font-weight: bold;
    line-height: 49px;
    text-align: center;
}
.flag{
    background-image: url('./img/qizi.png');
    background-size: 100% 100%;
}